{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static "quarkchain-web3.js-0.1.1/dist/quarkchain-web3.js" %}"></script>
    <script type="text/javascript" src="{% static "web3auth/js/web3auth.js" %}"></script>
    <script type="text/javascript" src="{% static "testABI.js" %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  </head>
  <body>

    <div id="txStatus"></div>
    <div id="zombies"></div>

    <div data-web3auth-display="wallet-unavailable" style="display:none;">
      Please install Metamask.
    </div>
    <div data-web3auth-display="wallet-locked" style="display:none;">
      Your Metamask is locked. Please unlock it to continue.
    </div>

    <div data-web3auth-display="wallet-available" style="display:none;">
      <form action="" method="POST" data-web3auth="login-form">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" data-web3auth="login-button">Log In</button>
      </form>
    </div>
    <script type="text/javascript">
web3auth.init('{{ login_token }}');
var cryptoZombies;
var userAccount;

function startApp() {
  console.log("123");
  // $("#txStatus").text("123");

  var cryptoZombiesAddress = "0xf448D6a43C05C3318193b0f828DFD4Bf80f514B53532392a";
  cryptoZombies = new web3js.eth.Contract(testABI, cryptoZombiesAddress);
  console.log(cryptoZombies);

  // var accountInterval = setInterval(function() {
  //   // Check if account has changed
  //   // if (web3.eth.accounts[0] !== userAccount) {
  //   //   userAccount = web3.eth.accounts[0];
  //   //   // Call a function to update the UI with the new account
  //   //   // getZombiesByOwner(userAccount)
  //   //   // .then(displayZombies);
  //   // }
  // }, 100);
}


window.addEventListener('load', function() {
  // Checking if Web3 has been injected by the browser (Mist/MetaMask)
  if (typeof web3 !== 'undefined') {
    // Use Mist/MetaMask's provider
    web3js = new Web3(web3.currentProvider);
    console.log(web3js);
    QuarkChain.injectWeb3(web3js, "http://jrpc.testnet.quarkchain.io:38391/")
  } else {
    // Handle the case where the user doesn't have Metamask installed
    // Probably show them a message prompting them to install Metamask
  }

  // Now you can start your app & access web3 freely:
  startApp()

})
    </script>
  </body>
</html>
